.icons {
    color: #299ADC;
    font-size: 40px;
}

.strong {
    font-size: 25px;
}

.p {
    font-size: 21px;
    color: gray;
}

.span {
    color: #082768;
}

.text {
    color: #299ADC;
}

.circle {
    background-color: rgb(241, 245, 247);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-block;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
}

.padding {
    padding-bottom: 5x;
}