.title {
    font-size: 45px;
}

.p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(109, 109, 109);
    line-height: 35px;
}

.ital {
    font-style: italic;
    font-size: 25px;
    color: rgb(131, 131, 131);
}

.button {
    border-radius: 50px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: x-large ;
    box-shadow: 5px 10px 10px #dddddd;
}

.margin {
    margin-left: 10px;
}

.margins {
    margin-right: 90px;
}

.number_circle {
    background-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 25px;
    display: inline-block;
    position: relative;
    top: 25%;
}

.image {
    border-radius: 25px;
}

.spacing {
    padding-top: 20px;
}

.row {
    padding-bottom: 40px;
}