.container {
    font-size: 55px;
    padding-bottom: 20px;
}

.text {
    font-size: 21px;
    color: gray;
    padding-bottom: 20px;
}

.button {
    border-radius: 50px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: x-large ;
    box-shadow: 5px 10px 10px #dddddd;
}

.image {
    border-radius: 25px;
}