.footerText {
    color: rgb(93, 94, 94);
}

.icons {
    color: rgb(95, 95, 95);
    padding: 20px
}

.footer {
    list-style: None
}

.strong {
    color: #082768;
    font-weight: 800;
}

.hr {
    color: #D2D3D4;
    height: 50px;
}